* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    //overflow-x: hidden;
  }
  .pinterest {
    background: url('../../icons/klipartz.com\ -\ 2021-01-11T125115\ 1.png');
    background-size: contain;
  }